@import url("https://fonts.googleapis.com/css?family=Comic+Neue|Merriweather|Noto+Sans+TC|Varela+Round|Ubuntu&display=swap");
$dark-grey: #333333;
$light-grey: #bfbfbf;
$red: #ff3f3f;
$pink: #e45a6a;
$dark-blue: #1b3555;
$blue: #00bfff;
$green: #78d1a3;
$orange: #faa64d;
$mango: #ffcc22;
$white: #ffffff;
$font4: 4px;
$font-family: "Noto Sans TC",
"Ubuntu",
"Varela Round",
"Comic Neue",
"Merriweather",
"Courier New",
Courier,
monospace,
cursive,
sans-serif,
serif;
#app {
    width: 100%;
    height: 100%;
    font-family: $font-family;
}